.footer {
  background-color: rgb(32, 32, 32);
  margin-top: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 0;
}

.footer-link {
  margin: 1rem;
  color: white;
}

.footer-link:hover {
  color: #5f5f5f;
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 0;
}
