.footer {
  background-color: rgb(32, 32, 32);
  margin-top: 2rem;
  font-family: "Lato", sans-serif;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 2rem;
  padding: 0.5rem;
  margin-bottom: 0;
}

.footer-link {
  margin: 1rem;
  color: white;
}

.footer-link:hover {
  color: #d8d8d8;
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 0;
}
