.navbar {
  font-size: 1.5rem;
  padding: 1rem !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0.5rem;
}

.navbar-brand {
  font-size: 2rem !important;
}

.navbar-links {
  display: flex;
  list-style: none;
  justify-content: center;
}

.link {
  color: rgb(253, 50, 202);
}

.link:hover {
  color: black;
}

.navbar-links li {
  padding: 0.5rem;
}

.toggle-button {
  border: none !important;
  box-shadow: none;
}

.navbar-collapse {
  justify-content: center;
}
