.navbar {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0.5rem;
}

.navbar-brand {
  font-size: 2.5rem !important;
}

.navbar-link {
  color: black !important;
}

.navbar-link:hover {
  color: #5f5f5f !important;
}
