.navbar {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0.5rem;
}

.navbar-brand {
  font-size: 2.5rem !important;
}

.navbar-link {
  color: black !important;
}

.navbar-link:hover {
  color: #5f5f5f !important;
}

.navbar-collapse {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
}
