.navbar {
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  margin: 0.5rem;
}

.navbar-brand {
  font-size: 2rem !important;
}

.toggle-button {
  font-size: 1rem !important;
  border-color: white !important;
}

.navbar-collapse {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.navbar-link {
  color: black !important;
  border-top: 1px solid #5f5f5f;
  text-align: center;
}

.navbar-link:hover {
  color: #5f5f5f !important;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.3rem !important;
  }
}
