.main {
  display: flex;
  flex-direction: row-reverse;
  outline: red dashed;
  padding: 2rem;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.main-img {
  border-radius: 50%;
  max-width: 20%;
}

.main-technologies {
  outline: red dashed;
  text-align: center;
  list-style: none;
  padding: 1rem;
}
