.main {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
  justify-content: space-evenly;
  margin-top: 2rem;
  background-color: rgb(32, 32, 32);
  color: white;
}

.main-img {
  border-radius: 50%;
  max-width: 25%;
}

.main-content {
  text-align: center;
  padding: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.main-content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content-text {
  font-size: 1.2rem;
  padding: 1rem;
}

.projects-button,
.resume-button {
  margin: 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(253, 50, 202);
  border: none;
}

.technologies-content {
  list-style: none;
  display: flex;
  justify-content: center;
}

.technology {
  padding: 0.5rem;
  font-size: 3em;
}

@media only screen and (max-width: 768px) {
  .main {
    display: block;
    text-align: center;
  }

  .main-img {
    max-width: 50%;
  }
}
