.main {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
  justify-content: space-evenly;
  background-color: rgb(32, 32, 32);
  color: white;
  align-items: center;
}

.main-img {
  border-radius: 50%;
  max-width: 23%;
}

.main-content {
  text-align: center;
  padding: 1rem;
  font-family: "Lato", sans-serif;
}

.content-title {
  font-size: 1rem;
  padding: 5px;
}

.content-name {
  font-size: 1.8rem;
  padding: 5px;
  font-weight: bold;
}

.name-one {
  color: #5f5f5f;
}

.content-text {
  font-size: 1.1rem;
  padding: 1px;
}

.name-two {
  color: #5f5f5f;
  font-weight: bold;
}

.resume-button {
  border: 1px solid white !important;
}

.resume-button:hover {
  background-color: #5f5f5f !important;
  border: 1px solid #5f5f5f !important;
}

.resume-link {
  text-decoration: none;
  color: white;
}

.resume-link:hover {
  color: white;
}

.technologies-content {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}

.technology {
  padding: 0.3rem;
  font-size: 3em;
}

@media only screen and (max-width: 769px) {
  .main {
    display: block;
    text-align: center;
  }

  .main-img {
    max-width: 25%;
    margin: 1rem;
  }

  .content-title {
    font-size: 0.8rem;
  }

  .content-text {
    font-size: 0.8rem;
  }

  .technology {
    font-size: 2rem;
  }
}
