.title-holder {
  margin-top: 2rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#projects {
  padding: 3rem;
}

.project-card {
  margin: 2rem;
  border: 1px solid black !important;
  opacity: 0.9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.card-information {
  color: white;
  text-align: center;
  background-color: rgb(32, 32, 32);
  padding: 1.5rem;
}

.card-button {
  border: 1px solid rgb(253, 50, 202) !important;
  color: white !important;
}

.card-button:hover {
  background-color: rgb(253, 50, 202) !important;
  border: none;
}

.project-card:hover {
  margin: 1rem;
  opacity: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
