.title-holder {
  margin: 2rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.project-card {
  margin: 2rem;
  border: 1px solid black !important;
}

.card-information {
  color: white;
  text-align: center;
  background-color: rgb(32, 32, 32);
  padding: 1.5rem;
}

.card-image {
}

.card-button {
  border: 1px solid rgb(253, 50, 202) !important;
  color: white !important;
}

.card-button:hover {
  background-color: rgb(253, 50, 202) !important;
  border: none;
}
